body {
    background-color: #bcc2cf;
}

.produtos {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.produto {
    border: 1px solid white;
    width: 350px;
    text-align: center;
    font-size: 30px;
}

.produto img {
    width: 340px;
    margin: 5px;
}

.produto h3 {
    color: rgb(62, 38, 9);
    margin: 5px;
}

.produto p {
    color: rgb(114, 71, 94);
}

.produto button {
    background-color: #8991ac;
    color: white;
    width: 160px;
    height: 40px;
    border: nome;
    border-radius: pointer;
    cursor: pointer;
    margin: 5px;
}

.produto button:hover {
    background-color: rgb(150, 95, 124);
}