body {
    background-color: gray;
    }

    #p1 {
        color: red;
        text-align: start;
    }

    #p3 {
        color: orange;
        text-align: center;
    }

    #p4 {
        color: greenyellow;
        text-align: end;
    }
